{% extends 'layout.html' %}
{% load bootstrap5 %}

{% block content %}
<section class="container mt-5">
  <div class="d-flex mb-2">
     <h2 class="d-inline-flex">Libros encontrados</h2>
    <a class="d-inline-flex btn btn-primary ms-5" href="{% url 'crear_libro' %}" role="button">Agregar Libro</a>
  </div>
  {% bootstrap_messages %}
  {% if libros %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Titulo</th>
        <th scope="col">Autor</th>
        <th scope="col">Valoracion</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
    {% for libro in libros %}
      <tr>
        <td>{{libro.id}}</td>
        <td>{{libro.titulo}}</td>
        <td>{{libro.autor}}</td>
        <td>{{libro.valoracion}}</td>
        <td>
          <a class="btn p-0" href="{% url 'editar_libro' libro_id=libro.id %}" role="button" data-bs-toggle="tooltip" data-bs-placement="top"
        title="Editar">
          <i class="fa fa-edit fa-lg text-primary"></i>
          </a>
          <a class="btn p-0" href="{% url 'borrar_libro' libro_id=libro.id %}" role="button" data-bs-toggle="tooltip" data-bs-placement="top"
        title="Borrar">
          <i class="fa fa-trash fa-lg text-danger ms-3"></i>
          </a>
        </td>
      </tr>
    {% empty %}
      <tr>
          <td colspan="4">No hay libros en ese criterio de busqueda</td>
      </tr>
    {%endfor %}
    </tbody>
  </table>

  {% else %}
  <p> No hay libros en ese criterio de busqueda</p>
  {% endif %}
</section>


{% endblock%}