{% load bootstrap5 %}
{% load static %}
{% block content %}

<nav class="navbar navbar-bg-dark navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand text-primary" href="{% url 'index' %}">
      <img src="{% static 'vehiculo/img/autoCHICO.jpg' %}" alt="autoCHICO">
    </a>
    <button class="navbar-toggler bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-primary" aria-current="page" href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary" href="{% url 'lista_vehiculos' %}">Listar</a>
        </li>
        {% if perms.vehiculo.add_vehiculo %}
        <li class="nav-item">
          <a class="nav-link text-primary" href="{% url 'add' %}" >Agregar</a>
        </li>

        {% elif user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link text-warning" href="#" >Sin permiso para agregar vehiculos</a>
        </li>
         {% endif %}



      </ul>

      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
         <li class="nav-item">
          <a class="nav-link text-primary fs-5" href="{% url 'logout' %}" >Cerrar Sesion</a>
        </li>
        <li class="float-right">
          <a class="nav-link text-primary fs-5" href="#"> Hola, {{user.username}}</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link text-primary fs-5" href="{% url 'login' %}" >Iniciar Sesion</a>
        </li>
        {% endif %}
      </ul>

    </div>
  </div>
</nav>
{% endblock %}